<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manga Realm - Free High Quality Manga</title>
    <script src="/scripts/_utils.js"></script>
    <link rel="stylesheet" href="/styles/_global.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
  </body>
</html>
