<head>
  <link rel="stylesheet" href="/styles/partials/header.css" />
  <script src="/scripts/search_manga.js"></script>
</head>

<header>
  <h1>
    <span class="highlight-red">Manga</span
    ><span class="highlight-blue">Realm</span>!
  </h1>
  <div class="search-manga-wrapper">
    <input
      id="search-manga-input"
      class="search-manga-input"
      type="text"
      placeholder="Search Manga"
    />
    <img src="/assets/icons/search-icon.svg" alt="Search" />
  </div>
</header>
