:root {
  --background-color: #121212;
  --background-color-light: #1e1e1e;
  --primary-color: #ff4d4d;
  --primary-color-soft: #ff9999;
  --secondary-color: #1e88e5;
  --primary-font-color: #e0e0e0;
  --secondary-font-color: #b0b0b0;
  --font-color-dark: #1a1a1a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-font-color);
  font-family: "Noto Sans JP", sans-serif;
}

p {
  color: var(--secondary-font-color);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  line-height: 1;
}

input {
  background-color: #ffffff;
  color: var(--font-color-dark);
  font-family: "Noto Sans JP", sans-serif;
  line-height: 18px;
  padding: 0 8px;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  font-family: "Noto Sans JP", sans-serif;
  transition: all 0.3s ease;
}
